:root {
  --primary-color: #2d6a4f;
  --secondary-color: #40916c;
  --accent-color: #d8f3dc;
  --text-color: #1b4332;
  --background-color: #f8fcf8;
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}